
/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

/* VARIABLES */
:root {
    --color01:#6400CD;
    --color02:#8AF5E9;
    --color03:#322F6E;
    --font01:'Montserrat', sans-serif;
}

/* RESET */
* {
    min-width: 0;
    font: inherit;
    }
    
    *,*::before,*::after {
    box-sizing: border-box;
    }
    
    img,video,svg {
    display: block;
    height: auto;
    max-width: 100%;
    }
    
    body {
    margin: 0;
    min-height: 100dvh;
    }
    
    h1,h2.h3,h4,h5,h6 {text-wrap: balance;}
    
    p {text-wrap: pretty;}
    
    ul[role='list'], ol[role='list']{
        list-style: none; /* Turn off numbered and unordered list decoration */
    }
    
    html:focus-within{
        scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
    }
    
    a:not([class]){
        text-decoration-skip-ink: auto; /* Makes link undelines look better */
    }
    
    input, button, textarea, select{
        font: inherit; /* Makes these elements inherit fonts */
    }
    
    /* Turns off animation for people who don't want to see them */
    @media (prefers-reduced-motion: reduce){
        html:focus-within {
            scroll-behavior: auto;
        }
        *, *::before, *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
            transition: none;
        }
    }
    
    body, html{
        height: auto; /* 100% Makes the body element full screen */
        scroll-behavior: smooth; /* Makes normal scrolling smooth */
    }

    /* APP */
    body {background-image: linear-gradient(var(--color01), #000);}

    header {
        padding: 30px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo img {height: 50px;}

    header .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    header .menu a {
        color: #fff;
        font-family: var(--font01);
        text-decoration: none;
        border-bottom: 2px solid var(--color01);
    }

    header .menu a:hover {
        border-bottom: 2px solid #fff;
    }

    header .menu a,
    header .menu a:hover {transition: ease all 250ms;} 

    .heroMain {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        z-index: 1;
    }
    .heroMain .heroTxt {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;
        flex-direction: column;
        padding-left: 50px;
        font-family: var(--font01);
        
        color: #fff;
    }

    .heroTxt > * {
        opacity: 0;
        -moz-transition: ease all 500ms;
        transition: ease all 500ms;
    }

    .heroTxt h1 {
        font-size: 50px;
        font-weight: bold;        
        line-height: 1;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
    }
    .heroTxt span {
        font-weight: 400;
        display: block;
    }
    .btnHero {
        color: #000;
        text-decoration: none;
        background: var(--color02);
        padding: 10px 15px;
        border-radius: 25px;
        font-weight: bold;
    }
    .heroImg {
        position: relative;
        background: var(--color03);
        clip-path: polygon(16% 0, 100% 0%, 100% 100%, 0% 100%);
        overflow: hidden;
        height: calc(100vh - 200px);
    }
    .heroImg img {
        position: absolute;
        width: 100%;
        height: auto;
        clip-path: polygon(16% 0, 100% 0%, 100% 100%, 0% 100%);
        top: 0px;
        left: 15px;
    }

/* decorative elements */
body {height: 100vh;overflow: hidden;}
.heroTxt p {width: 84%;}
.decorative {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    
}

.deco {
    position: absolute;
    opacity: 0;
    transition: ease all 250ms;
    transform: translateY(-10px);
}
.cylinder {
    width: 80px;
    top: 150px;
    left: calc(50% - 80px);
}
.blob01 {
    width: auto;
    height: 600px;
    top: calc(50% - 200px);
    left: -180px;
    z-index: -1;
}
.blob02 {
    width: auto;
    height: 800px;
    bottom: -600px;
    left: -180px;
    z-index: -1;
    
}
.circle01 {
    width: auto;
    width: 300px;
    left: 200px;
    bottom: -90px;
    z-index: -1;
    
}
.circle02 {
    width: auto;
    height: 700px;
    bottom: -500px;
    right: -100px;
    z-index: -1;
    
}
.iconplay01 {
    width: 50px;
    left: 190px;
    bottom: 52px;
    z-index: -1;
}
.iconplay02 {
    width: 50px;
    left: 210px;
    bottom: 50px;
    z-index: -1;
}
.midcircle {
    width: 75px;
    left: 470px;
    bottom: 50px;
    z-index: -1;
}

.gridCircle {
    position: absolute;
    top: 20px;
    left: 450px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2.5rem;
}
.gridCircle span {
    background: #000;
    width: 10px;    
    height: 10px;  
    border-radius: 25px;  
}

.lineRotate {
    position: absolute;
    top: 320px;
    left: -80px;
    width: 500px;
    height: 3px;
    background: #4e00a0;
    transform: translateY(0px) rotate(160deg);
    opacity: .7;
}

.blunt {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.blunt .children {
    position: absolute;
    width: 10px;
    height: 10px;
    background: yellow;    
   
    
}

footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1.7rem 1.7rem; 
    
}
footer img {width: 30px; height: 30px;}

.badgeOff {
    opacity: 0;
    width: 150px;
    height: 150px;
    background: var(--color02);
    color: #010101;
    position: absolute;
    top: 55%;
    left: calc(50% - 45px);
    z-index:4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font01);
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
    border-radius: 100%;
}